<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Online Audio-to-Text Converter</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/documents/hacks/coolestproj/static/style.css">

    <!-- import the webpage's stylesheet -->
    <!--link rel="stylesheet" href="/style.css"-->

    <!-- import the webpage's javascript file -->
    <script src="{{ url_for('static', filename = 'hello.js') }}" defer></script>
  </head>
    <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-max"><b>Not</b></span> <span class="w3-hide-small w3-text-black">FakeAdults</span></h1>
    <h1>Online Audio-to-Text Converter</h1>
    <div id="root"></div>
    <p>
      This is an online speech-to-text tool.<n></n>
      It can convert your lecture recordings into text!
      Start by uploading your audio below.
    </p>

     <form method=post enctype=multipart/form-data style="text-align:center">
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  </body>
</html>
